.nav_styledHeader {

    width: 100vw;
    height: var(--nav_height);

    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;


}

.nav_styledNav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    margin: 0 50px;
}

.nav_styledNav .nav_home span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--main_text_color);
}

.nav_styledNav .nav_home span i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

    background-color: rgb(20, 20, 20);

    font-size: 25px;

    font-style: normal;
    font-weight: bold;

    color: orange;
}

.nav_styledNav a {
    text-decoration: none;
    color: var(--main_text_color);
    font-size: 13px;

    padding: 10px 12px;

    transition: 0.3s;
}

.nav_styledNav a:hover {
    color: orange;
}

.nav_styledNav a span {
    color: orange;
}

.burger-wrapper {
    cursor: pointer;
}

#menu {
    background: #333;
    width: 50rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}

#menuAvPaa {
    display: none;
}

#menuAvPaa:checked~#meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger>div {
    height: 2px;
    background-color: orange;
    transition: 0.5s;
    z-index: 999;
}

#menuAvPaa:checked~#burger>div {
    background-color: orange;
}

#menuAvPaa:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}

#menuAvPaa:checked~#burger>div:nth-child(2) {
    opacity: 0;
}

#menuAvPaa:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

.menu_icon {
    color: orange;
    height: 30px;
    width: 30px;
    font-size: 50px;
    display: block;

    margin: 0 20px;
}

@media screen and (max-width: 700px) {
    .nav_styledNav {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        margin: 0;
    }
}