.App {
  font-family: 'Avenir Book';
}

html {
  background-color: #141414;
  overflow-x: hidden;
}

html::before {
  position: absolute;
  top: 0;
  left: 35px;
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  background: #5C477F;
  z-index: 20;
  overflow: auto;
}

li {
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 700px) {
  html::before {
    left: 20px;
  }
}