.App {
  font-family: 'Avenir Book';
}

html {
  background-color: #141414;
}

html::before {
  position: absolute;
  top: 0;
  left: 35px;
  display: block;
  content: '';
  width: 2px;
  height: 100%;
  background: #5C477F;
  z-index: 20;
}

li {
  text-decoration: none;
  list-style: none;
}
